/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.flex{
  display: flex;
}
.App-background{
  background-image:url(assets/fondo-burger-queen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  box-sizing: border-box;
}
/* .App-background::before{
  content:'';
  background-color: rgba(187, 186, 184, 0.267);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
} */
.App-header{
  top: 0;
}
.App-logo{
  width: 100%;
}
.App-slogan{
  width: 100%;
}
.ButtonInit{
  background-color: #F1C010;
  width: 180px;
  height: 70px;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}
.container-button{
  border-radius: 25px;
  border-color: #ffffff;
  background-color: aqua;
}
/* .container-button::before {
  content: '';
  background-color: rgba(187, 186, 184, 0.267);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
} */
.relative{
  position: relative;
}