$backgroundYellow: #F1C010;
.flexColumn{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.start{
  padding-top: 20px;
  padding-left: 20px;
}
.center{
  width: 85vw;
  text-align: center;
  padding-top: 5px;
}
.App-background{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
} 
.App-background::before{
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-image:url(../assets/fondo-burger-queen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(35%);
} 
.App-background-inside{
  position: relative;
}
.App-logo{
  width: 100%;
}
.comp-kitchen{
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttonNone{
  outline: none;
  border: none;
}
.ButtonInit{
  background-color: $backgroundYellow;
  width: 180px;
  height: 70px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
.container-button{
  width: 300px;
  height: 280px;
  border-radius: 60px;
  border: 7px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.7);
  margin: 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0%;
}
.flexRow{
  display: flex;
  flex-direction: row;
}

/* Waiter Choice */
.headerMain{
  background-color: #422112;
  text-align: center center;
  text-align: center;
  /* height: 150px; */
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
}
// .main-PlaceAndOrders{
//   background-color: #FBDD91;
// }
.waiter-choice{
  width: 508px;
  height: 692px;
  background-color: $backgroundYellow;
  border-radius: 35px;
  margin: 90px;
  box-sizing: border-box;
}
.strong-subtitle{
  font-size: 35px;
  display: flex;
  padding: 100px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.special-subtitle{
  padding-top: 0%;
  padding-bottom: 45px;
}
.placeOrders{
  padding-left: 174px;
  padding-bottom: 40px;
  padding-right: 174px;
}
.subtitle{
  font-size: 29px;
  width: 100vw;
  padding-left: 125px;
  padding-right: 125px;
  font-family: 'Roboto', sans-serif;
}
.button-brown{
  width: 160px;
  height: 70px;
  background-color: #422112;
  font-size: 22px;
  border-radius: 18px;
  color: #FFFFFF;
  padding: 10px;
  margin-left: 170px;
  margin-right: 170px;
}
.input-name{
  width: 50%;
  font-size: 25px;
  height: 40px;
  margin-left: 120px;
  margin-top: 18px;
  margin-right: 120px;
  margin-bottom: 18px;
}
.colorLetterBrown{
  color: #422112;
}

// Folder
/*# sourceMappingURL=app.css.map */

.folder{
  background-color: $backgroundYellow;
  width: 365px;
  height: 780px;
  border-radius: 30px 30px 0px 30px;
  margin-top: 50px;
}
.folderTwo{
  background-color: $backgroundYellow;
  width: 315px;
  height: 680px;
  border-radius: 0 30px 30px 0px;
  margin-top: 150px;
}
.containerFolder{
  float: right;
  margin-right: 50px;
}

//Container All Food

.containerAllFood {
  width: 595px;
  height: 580px;
  background-color: $backgroundYellow;
  border-radius: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  box-sizing: border-box;
}
.containerOptionFood {
  width: 185px;
  margin-left: 25px;
  margin-top: 50px;
  height: 175px;
  border-radius: 25px;
  background-color: $backgroundYellow;
  box-sizing: border-box;
  display: inline-flex;
}