// Folder
@import 'mixin';

.folder{
    background-color: $backgroundYellow;
    @include measures(366px, 780px);
    border-radius: 30px 30px 0px 30px;
    margin-top: 50px;
  }
  .folderTwo{
    background-color: $backgroundYellow;
    @include measures(316px, 660px);
    border-radius: 0 30px 30px 0px;
    margin-top: 170px;
  }
  .showHour{
    display: flex;
    right: 0px;
    width: 300px;
    font-size: 40px;
    position: fixed;
    top: 160px;
  }
  .blockEnd{
    display: block;
    position: absolute;
    top: 635px;
    left: 26px;
  }
  .justlist{
    display: block;
    position: absolute;
    top: 134px;
    left: 13px;
  }