// Folder

.folder{
    background-color: $backgroundYellow;
    width: 366px;
    height: 780px;
    border-radius: 30px 30px 0px 30px;
    margin-top: 50px;
  }
  .folderTwo{
    background-color: $backgroundYellow;
    width: 316px;
    height: 660px;
    border-radius: 0 30px 30px 0px;
    margin-top: 170px;
  }
  .showHour{
    display: inline-flex;
    margin-left: 225px;
    font-size: 40px;
    position: fixed;
  }
  .blockEnd{
    display: block;
    position: absolute;
    top: 635px;
    left: 26px;
  }
  .justlist{
    display: block;
    position: absolute;
    top: 134px;
    left: 13px;
  }