@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}
.title-orders-kitchen{
    background-color: $backgroundYellow;
    width: 463px;
    height: 92px;
    //@include width-heigh(463px, 92px);
    border-radius: 25px;
    color: $brown;
    margin-top: 50px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}


