@import 'mixin';

.flex-around{
    display: flex;
    justify-content: space-around;
}
.title-orders-kitchen{
    background-color: $backgroundYellow;
    @include measures(463px, 92px);
    border-radius: 25px;
    color: $brown;
    margin-top: 50px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}


