@import 'mixin';

.order-wrapper{
    max-width: 350px;
    max-height: 500px;
}
.order-container{
    @include measures(100%, 100%);
    background-color: $brown;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}
.order-info{
    z-index: 1;
    color: $white;
}
.order-list{
    list-style-type: none;
    padding-left: 10px;
    display: flex;
}
.order-list-amount{
    display: flex;
    background-color: $white;
    color: $brown;
    @include measures(50px, 25px);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
}
.order-info-name{
    font-size: 1.5rem;
}
.order-button-status{
    border: none;
    border-radius: 12px;
    width: 70px;
}